body {
  margin: 0;
  padding: 0;
  background-image: url(../img/bg2.jpg);
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-box {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
}

.login-box h1 {
  float: left;
  font-size: 48px;
  border-bottom: 6px solid #45ccb8;
  margin-bottom: 50px;
  padding: 13px;
  color: #fff;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 2px solid #45ccb8;
}

.textbox i {
  color: #fff;
  width: 26px;
  float: left;
  text-align: center;
}

.textbox input {
  color: #fff;
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.btn {
  color: #fff;
  width: 100%;
  background: none;
  border: 2px solid #45ccb8;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  margin: 12px 0;
}

.btn:hover {
  background: #fff;
  color: #333;
  transition: 0.7s linear;
}

.alert button {
  width: 100%;
  background: #45ecb8;
  border: 1px solid #45ecb8;
  padding: 5px;
  color: #fff;
  text-align: left;
}
